/* this file contains overrides for Portal CSS classes */

.bip-container
{
	border:1px solid #57A8FA;
	border-radius:0px;
}

.bip-tab-button-checked 
{
	color: #57A8FA;
	font-weight: 700;
	background-color: white;
	border-bottom: 1px solid #57A8FA;
}

.bip-easy-selector-image-hover
{
	background-image: url("Images/col_insert_marker_hover_57A8FA.png");
}
